.lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
  height: fit-content;
  justify-content: center;
  padding: 10px;
  background-color: aquamarine;
}
.todo-list {
  margin: 10px;
  border: 1px solid black;
}
.todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  min-width: 250px;
  max-width: 250px;
}

.list-delete-button {
  color: red;
  background-color: white;
  border: none;
}
